include README.md
recursive-include acc_provision/templates/cni *
include acc_provision/templates/legacy/*
recursive-include acc_provision/templates/cko *
include acc_provision/*.yaml
include bin/acikubectl
include debian/*
include debian/source/*
include rpm/*
include acc_provision/RELEASE-VERSION
