#
# Configuration for ACI Fabric
#
aci_config:
  physical_domain:
    domain: bm-srvrs-calico-pd
  system_id: mykube             # Every opflex cluster must have a distinct ID
  apic_hosts:
    - 10.30.120.100             # List of APIC hosts to connect for APIC API
  aep: kube-cluster             # The AEP for ports/VPCs used by this cluster
  vrf:                          # VRF used to create all kubernetes EPs
    name: mykube-vrf
    tenant: common              # This can be system-id or common
  l3out:
    name: mykube_l3out          # Used to provision external IPs
    external_networks:
    - mykube_extepg             # Used for external contracts
    svi:
      type: floating                                 # This is the interface type. Only "floating" is supported
      external_network: mykube_l3out_int_epg
      external_network_svc: mykube_l3out_svc_epg
      node_profile_name: mykube_l3out_node_prof
      int_prof_name: mykube_l3out_int_prof
      floating_ip: 2.100.101.100/24                  # Should be an IP in the node subnet
      secondary_ip: 2.100.101.254/24
      vlan_id: 13                     # valid vlan-id for the whole cluster
      mtu: 9000                       # 9000 is the recommended value.
    bgp:
      secret: test                  # BGP password for the peerings generated by BGPPeer resource
      peering:
        prefixes: 500               # Maximum number of prefixes to limit how many prefixes we can accept from a single K8s node. Default is 500
        remote_as_number: 64512     # By default, all Calico nodes use 64512 AS number
        aci_as_number: 64513        # The remote AS Number of the peer. Default is 64513

#
# Networks used by ACI containers
#
net_config:
  node_subnet: 2.100.101.0/24       # Subnet to use for nodes
  pod_subnet: 20.2.0.0/16           # Subnet to use for Kubernetes Pods
  extern_dynamic: 20.3.0.0/16       # Subnet to use for Service External IPs and Service LoadBalancer IPs to be advertised over BGP.
  cluster_svc_subnet: 10.96.0.0/12  # Subnet to use for Kubernetes Service Cluster IPs to be advertised over BGP

#
# Configuration for calico networking
#
calico_config:
  net_config:
    # block_size: 20            # IPAM IPV4 block size. Valid values are 20-32(inclusive). Default value is 26
    # encapsulation: IPIP       # Default is "None",
    # nat_outgoing: Enabled     # When enabled, packets sent from Calico networked containers in this
                                # pool to destinations  outside of any Calico IP pools will be masqueraded.
                                # Default is Disabled
    # nodeSelector: all()       # Selects the nodes that Calico IPAM should assign addresses from this pool to. Default is all()

#
# Calico node rack association
#
topology:
  rack:                         # Each rack has a pair of ToR leaf switches and Kubernetes nodes
  - id: 1                       # "id" of a ToR, and is user assigned.
    aci_pod_id: 1
    leaf:
    - id: 101                   # Node id of anchor nodes
      local_ip: 2.100.101.201   # The IP address of the peer
    - id: 102
      local_ip: 2.100.101.202
    node:  
    - name: k8s-node1           # K8s nodes
    - name: k8s-node2
  - id: 2
    aci_pod_id: 1
    leaf:
    - id: 103
      local_ip: 2.100.101.203
    - id: 104                   # non-anchor nodes
    node:  
    - name: k8s-node3
    - name: k8s-node4